<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
        <form action="{{ url_for('update') }}" method="post">
            <label for="username">First Name</label>
            <input type="text" name="username" id="username">
            <label for="password">password</label>
            <input type="text" name="password" id="password">
            <input type="submit" value="Submit">
        </form>
        <form action="/login" method="post">
            <label>Name</label>
            <input type="text" name="username" placeholder="name">
            <label>Password</label>
            <input type="text" name="userpassword" placeholder="other_password">
            <button type="submit">Ok</button>
        </form>
    </body>
</html>